<!DOCTYPE html>
<html>
<div align="center">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
</div>
<body>
    <div align="center">
        <p class="name" style="color:purple">Hiiiii~ {{.post.Username}}</p>
    </div>

    <div align="center" id="image">
        <img src="2.jpg" height="30%" width="30%" />
    </div>

    <table align="center" style="color:purple">
        <tr>
            <th>Username</th>
            <td>{{.post.Username}}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{.post.Password}}</td>
        </tr>
    </table>
</body>
</html>